<div class="container-fluid">
  <div class="row">
    <h1> Погода в городе {{ $ctrl.currentCity }} на 10 дней </h1>
  </div>
  <div class="row">
    Выберите город:
    <select ng-model="$ctrl.chosenCity">
      <option ng-repeat="city in $ctrl.cityList" value="{{city.woeid}}">{{city.name}}</option>
    </select>
  </div>



  <div class="row">
    <div class="">
      {{ $ctrl.lastBuildDate }}
    </div>
  </div>

  <div class="row current-weather">
    <div class="t">
      {{ "+" + $ctrl.currentWeather.temp + "°C" }}
    </div>
    <div class="sky">
      {{ $ctrl.currentWeather.text }}
    </div>
    <div class="info">
      <ul>
        <li><span>Восход:</span> {{ $ctrl.astronomy.sunrise }}, <span>Закат:</span> {{ $ctrl.astronomy.sunset }} </li>
        <li><span>Ветер:</span> {{ $ctrl.wind.speed + "м/с" }} </li>
        <li><span>Влажность:</span> {{ $ctrl.atmosphere.humidity + "%" }} </li>
        <li><span> Давление:</span> {{ $ctrl.atmosphere.pressure + " мм рт. ст." }} </li>
      </ul>
    </div>
  </div>

  <div class="row">

  <table class="forecast-10 ">
    <thead class ="forecast-10-head">
      <tr>
        <td colspan="2"></td> <td>High °C</td> <td>Low °C</td> <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="day in $ctrl.forecast" class="forecast-10" >
       <td>	{{ day.date }} </td>
       <td> {{ day.day	}} </td>
       <td> {{ day.high }} </td>
       <td> {{ day.low  }} </td>
       <td> {{ day.text }} </td>
     </tr>
    </tbody>

  </table>
</div>

</div>
