/* app css stylesheet */
.container-fluid {
  width: 800px;
}
.row {
  min-height: 50px;
}

.current_weather {
  background-color: #f7f3d3;
  display:table;
}

.t, .sky, .info {
  display: table-cell;
  min-height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
}

 table .forecast-10 {
margin: 20px 0;
}
.forecast-10  td{
  padding: 10px 20px;
  text-align: center;
}
.forecast-10-head  td {
  padding: 0;
  font-size: 0.9rem;

}
