/* app css stylesheet */
.container-fluid {
  width: 100%;
  max-width: 800px;
}
h1{
  text-align: center;
}
.row {
  min-height: 50px;
}

.current-weather {
  background-color: #f7f3d3;
  display:table;
  margin: 10px 0;

}

.t, .sky, .info {
  display: table-cell;
  min-height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
}

.info li {
  text-align: left;
  list-style-type: none;
}
.info span {
  color: #797979;
}

.forecast-10  td{
  padding: 10px 20px;
  text-align: center;
}
.forecast-10-head  td {
  padding: 0;
  font-size: 0.9rem;

}
